<div class="container">

  <table class="table table-stripede border border-secondary" style="margin:20px ">
    <thead class="thead-light">
      <th>Id</th>
      <th>Name</th>
      <th>Item Name</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Total</th>
      <th>Date</th>
      <th>Action</th>
    </thead>

    <tbody>

      <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td>{{order.name}}</td>
        <td>{{order.itemname}}</td>
        <td>{{order.qty}}</td>
        <td>{{order.price}}</td>
        <td>{{order.price * order.qty}}</td>
        <td>{{order.orderdate | date:'dd/MM/yyyy'}}</td>
        <td>
          <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Update" (click)="updateOrderData(order)">
            <i class="far fa-edit"></i>
          </button>
          <button class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Delete" (click)="deleteOrder(order.id)">
            <i class="far fa-trash-alt"></i>
          </button>
          <button class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Print">
            <i class="fas fa-print"></i>
          </button>
          <app-create></app-create>
        </td>
      </tr>

    </tbody>
  </table>
</div>


<div class="container" style="margin:30px">
  <form name="form" [formGroup]="orderForm" (ngSubmit)="orderForm.valid && order()">
    <span *ngIf="updateButton">
      <div class="form-group">
        <label for="name">Id</label>
        <input type="text" readonly="true" class="form-control" formControlName="id" />
      </div>
    </span>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':orderForm.get('name').touched && orderForm.get('name').invalid}" />
      <div *ngIf="orderForm.get('name').touched && orderForm.get('name').invalid" class="invalid-feedback">
        <div *ngIf="orderForm.get('name').errors.required"> Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Item Name</label>
      <select id="itemname" class="form-control" formControlName="itemname">
        <option *ngFor="let itemname of ['Dell Laptop', 'HP Laptop', 'Samsung Laptop', 'Asus Laptop', 'Accer Laptop']"
          [ngValue]="itemname">{{itemname}}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="salary">Quantity</label>
      <input type="text" class="form-control" formControlName="qty" [ngClass]="{'is-invalid':orderForm.get('qty').touched && orderForm.get('qty').invalid}" />
      <div *ngIf="orderForm.get('qty').touched && orderForm.get('qty').invalid" class="invalid-feedback">
        <div *ngIf="orderForm.get('qty').errors.required"> Quantity is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="salary">Price</label>
      <input type="text" class="form-control" formControlName="price" [ngClass]="{'is-invalid':orderForm.get('price').touched && orderForm.get('price').invalid}" />
      <div *ngIf="orderForm.get('price').touched && orderForm.get('price').invalid" class="invalid-feedback">
        <div *ngIf="orderForm.get('price').errors.required"> Price is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input type="date" class="form-control" formControlName="orderdate" [ngClass]="{'is-invalid':orderForm.get('orderdate').touched && orderForm.get('orderdate').invalid}" />
      <div *ngIf="orderForm.get('orderdate').touched && orderForm.get('orderdate').invalid" class="invalid-feedback">
        <div *ngIf="orderForm.get('orderdate').errors.required"> Order Date is required</div>
      </div>
    </div>

    <span *ngIf="createButton">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!orderForm.valid">{{buttontxt}}</button>
      </div>
    </span>
    <span *ngIf="updateButton">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!orderForm.valid">{{buttontxt}}</button>
      </div>
    </span>
  </form>
</div>

